body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: #777777;
  height: 100%;
}

div {
  background-color: #ebebeb;
  display: block;
  text-align: center;
}

.container {
  background-color: #777777;
  max-width: 80%;
  margin: 0 auto;
}

.header {
  margin-bottom: 10px;
  padding: 20px 0;
}

.nav {
  margin-bottom: 20px;
  padding: 20px 0;
}

.section {
  width: 49.5%;
  padding: 36px 0 20px 0;
  display: inline-block;
  margin-right: 10px;
}
.aside {
  width: 48%;
  float: right;
  padding: 125px 0;
  margin-left: 10px;
}

.article {
  margin: 40px 20px 0;
  background-color: #777777;
  padding: 10px 0;
}

.h1-h2-h3 {
  margin: 20px 10px 0px 10px;
  padding: 10px;
}

.p {
  margin: 20px 10px 0px 10px;
  padding: 10px 10px;
}

.footer {
  margin: 20px 0 0 0;
  padding: 20px 0;
}
